@model List<BadgeDTO>;

@{
    ViewData["Title"] = "Badge Library";
}

<div class="page-header">
    <h1 class="display-3 float-left">Badges</h1>
    <div class="float-right">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Badge">Add Badge</button>
        <div class="modal fade" id="Badge">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="needs-validation" novalidate>
                        <div class="modal-header">
                            <h5 class="modal-title text-uppercase text-center">New Badge</h5>
                        </div>
                        <div class="modal-body">

                            <div class="form-row">
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label for="name">Name</label>
                                    <input id="name" type="text" placeholder="Name" class="form-control" aria-describedby="inputGroupPrepend" required/>
                                    <div class="invalid-feedback">
                                        Please enter the badge name.
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label for="version">Version</label>
                                    <input id="version" type="text" placeholder="Version" class="form-control" aria-describedby="inputGroupPrepend" required/>
                                    <div class="invalid-feedback">
                                        Please enter badge version.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-4 col-md-4 col-xs-12">
                                    <label for="tag">Tag</label>
                                    <input id="tag" type="text" placeholder="Tag" class="form-control" aria-describedby="inputGroupPrepend" required/>
                                    <div class="invalid-feedback">
                                        Please add a tag.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary rounded-0">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var badge in Model)
            {
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="@("heading" + badge.BadgeId)">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@("a" + badge.BadgeId)" aria-expanded="true" aria-controls="@("a" + badge.BadgeId)">
                                @badge.Name
                            </a>
                        </h4>
                        <form asp-controller="ViewBadges" asp-action="DeleteBadgeFromLibrary" asp-route-badgeId="@badge.BadgeId" method="post" class="float-right">
                            <button type="submit" class="btn btn-primary rounded-0">Delete</button>
                        </form>
                    </div>
                    <div id="@("a" + badge.BadgeId)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@("heading" + badge.BadgeId)">
                        <div class="panel-body">
                            <div class="row">
                                @foreach (var level in badge.Levels)
                                {
                                    <div class="col-sm-4">
                                        <div class="card border-info mb-3" style="max-width: 20rem;">
                                            <div class="card-header">Level @level.LevelNumber</div>
                                            <div class="card-body">

                                                <p class="lead text-primary">@level.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>