@model List<BadgeDTO>;

@{
    ViewData["Title"] = "Badge Library";
}

<div class="page-header">
    <h1 class="display-3 float-left">Badges</h1>
    <div class="float-right">
        <button type="button" class="btn btn-info" id="add-badge" data-toggle="modal" data-target="#Badge">Add</button>
        <div class="modal fade" id="Badge">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="needs-validation" novalidate asp-controller="ViewBadges" asp-action="CreateAndAddBadge" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title text-uppercase text-center">New Badge</h5>
                        </div>
                        <div class="modal-body">

                            <div class="form-row">
                                <label for="Name">Name</label>
                                <input id="Name" name="Name" type="text" class="form-control" aria-describedby="inputGroupPrepend" required />
                                <div class="invalid-feedback">
                                    Please enter the badge name.
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Version">Version</label>
                                <input id="Version" name="Version" type="text" class="form-control" aria-describedby="inputGroupPrepend" required />
                                <div class="invalid-feedback">
                                    Please enter badge version.
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="Tag">Tag</label>
                                <input id="Tag" name="Tag" type="text" class="form-control" aria-describedby="inputGroupPrepend" required />
                                <div class="invalid-feedback">
                                    Please add a tag.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var badge in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="@("heading" + badge.BadgeId)">
                <div class="row">
                    <h4 class="panel-title col-3">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@("a" + badge.BadgeId)" aria-expanded="true" aria-controls="@("a" + badge.BadgeId)">
                            @badge.Name
                        </a>
                    </h4>

                    <div class="col-2">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary update" data-toggle="modal" data-target="#@("update" + badge.BadgeId)">
                            Update
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="@("update" + badge.BadgeId)" tabindex="-1" role="dialog" aria-labelledby="@("updateModal" + badge.BadgeId)" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="@("updateModal" + badge.BadgeId)">Update Badge</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form asp-controller="ViewBadges" asp-route-badgeId="@badge.BadgeId" asp-action="UpdateBadge" method="post">
                                            <fieldset>

                                                <div class="form-group">
                                                    <label for="Version">Version</label>
                                                    <input class="form-control" id="Version" name="Version" value="@badge.Version">

                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Name</label>
                                                    <input type="text" class="form-control" id="Name" name="Name" value="@badge.Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Tag">Tag</label>
                                                    <input type="text" class="form-control" id="Tag" name="Tag" value="@badge.Tag">
                                                </div>
                                            </fieldset>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-5"></div>
                    <div class="col-2 text-right">
                        <form asp-controller="ViewBadges" asp-action="DeleteBadgeFromLibrary" asp-route-badgeId="@badge.BadgeId" method="post">
                            <button type="submit" class="btn btn-outline-info ">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="@("a" + badge.BadgeId)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@("heading" + badge.BadgeId)">
                <div class="panel-body">
                    <div class="row">
                        @if (badge.Levels.Count < 1)
                        {
                            <p class="col-sm-4">There are no levels yet.</p>
                        }
                        @foreach (var level in badge.Levels)
                        {
                            <div class="col-sm-4">
                                <div class="card border-info mb-3" style="max-width: 20rem;">
                                    <div class="card-header">Level @level.LevelNumber</div>
                                    <div class="card-body">

                                        <p class="lead text-primary">@level.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
