@model List<BadgeDTO>;

@{
    ViewData["Title"] = "Badge Library";
}

<div class="page-header">
    <h1 class="display-3">Badges</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var badge in Model)
            {
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="@("heading" + badge.BadgeId)">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@("a" + badge.BadgeId)" aria-expanded="true" aria-controls="@("a" + badge.BadgeId)">
                                @badge.Name
                            </a>
                        </h4>
                    </div>
                    <div id="@("a" + badge.BadgeId)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@("heading" + badge.BadgeId)">
                        <div class="panel-body">
                            <div class="row">
                                @foreach (var level in badge.Levels)
                                {
                                    <div class="col-sm-4">
                                        <div class="card border-info mb-3" style="max-width: 20rem;">
                                            <div class="card-header">Level @level.LevelNumber</div>
                                            <div class="card-body">
                                                
                                                <p class="lead text-primary">@level.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



